<div class="container">
    <div class="form-container">
        <div class="title">Login</div>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Enter your Email</mat-label>
                <input matInput/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input type="password" matInput>
            </mat-form-field>
        </form>
        <div class="buttons-container">
            <button mat-raised-button class="login">
                login
            </button>
            <p>OR</p>
            <button mat-button>create account</button>
        </div>
    </div>
</div>
